---
// Correct the import path
import cv from '../../../cv.json';

const profile = {
    name: cv.basics.name,
    title: cv.basics.label,
    description: cv.about.description, // Use the description from the about section
    contact: {
        email: cv.basics.email,
        phone: cv.basics.phone,
        location: `${cv.basics.location.city}, ${cv.basics.location.region}`
    },
    technologies: cv.technologies[0].keywords,
    skills: cv.skills[0].keywords,
};
---

<section class="about">
    <h1>About Me</h1>
    <h3 class="title">{profile.title}</h3>
    <p class="description">{profile.description}</p>

    <div class="container">
        <div class="section">
            <h4>Technologies</h4>
            <div class="technologies">
                {profile.technologies.map(technology => <span class="technology">{technology}</span>)}
            </div>
        </div>
        <div class="section">
            <h4>Skills</h4>
            <div class="skills">
                {profile.skills.map(skill => <span class="skill">{skill}</span>)}
            </div>
        </div>
    </div>
</section>

<style>
    .about {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Use the specified font family */
        margin: 15px auto; /* Increase margin slightly */
        max-width: 750px; /* Increase max width slightly */
    }
    .about h1, .about h2, .about h3, .about h4 {
        color: #333;
        margin-bottom: 15px; /* Increase margin between titles slightly */
    }
    .about ul {
        list-style-type: none;
        padding: 0;
    }
    .about li {
        margin-bottom: 10px;
    }
    .description {
        font-weight: bold;
        color: #6c757d; 
        padding: 15px; 
        line-height: 1.5; 
        background: #f9f9f9; 
        border-radius: 5px; 
        font-size: 0.95em;
    }
    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 15px; 
    }
    .section {
        flex: 1;
        margin-right: 20px;
    }
    .technologies, .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .technology, .skill {
        background-color: #6c757d; 
        color: white;
        padding: 4px 8px; 
        border-radius: 5px;
        font-size: 13px;
        display: inline-block;
    }
    .name {
        color: black;
    }
    .title {
        margin-top: -10px; /* Move the title closer to the name */
    }
</style>