---
import { basics } from '@cv'
import  Section  from '@/components/Section.astro'
const {name, label, image, email, phone,  summary, location, profiles} = basics
---

<Section >
    <div class="container">
      <div class="info">
            <h1>{name}</h1>
            <p>{label}</p>
            <figure>
                <img src={image} alt={name} />
            </figure>
            <footer>
                <ul>
                    <li>Email: {email}</li>
                    <li>Phone: {phone}</li>
                <p>{summary}</p>
                <p>{location.city}, {location.region}, {location.countryCode}</p>
                <ul>
                    {profiles.map(profile => (
                        <li><a href={profile.url} target="_blank">{profile.network}</a></li>
                    ))}
                </ul>
            </footer>
            
      </div>
    </div>
</Section>

<style>
    
</style>